---
---

// your liquid in css goes here

// when no theme is selected
// use default theme
:root {
    --heading-color: {{ themes[0].colors.--heading-color }};
    --text-color: {{ themes[0].colors.--text-color }};
    --text-color-faded: {{ themes[0].colors.--text-color-faded }};
    --primary-color: {{ themes[0].colors.--primary-color }};
    --background-color: {{ themes[0].colors.--background-color }};
    --callout-background: {{ themes[0].colors.--callout-background }};
}  
// if user preferred color scheme is dark
// use the dark theme

@media(prefers-color-scheme: dark) {
    :root {
    --heading-color: {{ themes[1].colors.--heading-color }};
    --text-color: {{ themes[1].colors.--text-color }};
    --text-color-faded: {{ themes[1].colors.--text-color-faded }};
    --primary-color: {{ themes[1].colors.--primary-color }};
    --background-color: {{ themes[1].colors.--background-color }};
    --callout-background: {{ themes[1].colors.--callout-background }};
    }
}
// generate the theme css from the data file
// here we use a for loop
// to iterate over all the themes in our _data/themes.json
// and output them as plain css

{% for theme in themes %}
 [data-theme="{{ theme.id }}"] {
    --heading-color: {{ themes.colors.--heading-color }};
    --text-color: {{ themes.colors.--text-color }};
    --text-color-faded: {{ themes.colors.--text-color-faded }};
    --primary-color: {{ themes.colors.--primary-color }};
    --background-color: {{ themes.colors.--background-color }};
    --callout-background: {{ themes.colors.--callout-background }};
 }
{% endfor %}
